# Bonus: Temperature Analysis I

In [94]:
import pandas as pd
from datetime import datetime as dt

In [53]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [54]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [55]:
# Set date column as DataFrame index & Drop date column
df.set_index('date', inplace=True, drop=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [58]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

### Compare June and December data across all years

In [91]:
from scipy import stats

In [62]:
# Filter data for desired months
june_loc = df.index.month == 6
dec_loc = df.index.month == 12

In [69]:
# Identify the average temperature for June
df['tobs'].loc[june_loc].mean()

74.94411764705882

In [67]:
# Identify the average temperature for December
df['tobs'].loc[dec_loc].mean()

71.04152933421226

In [81]:
# Create collections of temperature data
june_temp = list(df['tobs'].loc[june_loc].values)
dec_temp = list(df['tobs'].loc[dec_loc].values)

In [85]:
len(june_temp)

1700

In [105]:
len(dec_temp)

1500

In [107]:
# Run paired t-test
stats.ttest_rel(june_temp[0:1500], dec_temp[0:1500])

Ttest_relResult(statistic=34.69833028869736, pvalue=3.864098966773339e-194)

In [ ]:
stats.ttest_rel(june_temp[-1:-1501:-1], dec_temp[-1:-1501:-1])

In [100]:
stats.ttest_ind(june_temp, dec_temp, equal_var=True)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [97]:
stats.ttest_ind(june_temp, dec_temp, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis